/Saved
/Intermediate
/.vs
/Build
/Plugins
/Content/MedievalDungeon
/Content/InfinityBladeFireLands
/Content/InfinityBladeEffects
*.sln
*_BuiltData.uasset


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

